# tex specific
/_minted-index
*.aux
*.bbl
*.blg
*.fdb_latexmk
*.fls
*.log
*.out
*.synctex(busy)
*.synctex.gz
*.synctex.gz(busy)
*.toc

# package specific
*.pdf
Pipfile.lock

# dev specific
/unused
*.ai
.DS_Store
todo.md